################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/MundialCorporativo/copilot-chat/9a77fceb/sessions
/.vs
